
body {
  font-family: 'Inter', sans-serif;
  color: #142C68;
  background-color: #fbfcfc;
  font-size: 30px;
}


.lateral {
  background-color: #142C68; 
  color: #fff;
  padding: 3%;
  height: 1100px;
}

.horizontal {
  background-color: #142C68; 
  color: #000;
  padding: 3%;
  /*min-height: 600px;*/

}
.lateral-titulo {
  font-size: 63px;
  font-weight: 600;
  text-transform: uppercase;
}


.lateral-data {
  font-size: 60px;
  font-weight: 400;
  margin-top: 50px;
}

.lateral-hora {
  font-size: 65px;
  font-weight: 400;
}

.lateral-local-titulo {
  font-size: 40px;
  font-weight: 400;
  margin-top: 50px;
 }

.lateral-local-info {
  font-size: 30px;
  font-weight: 400;
 }

 .lateral-url {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
 }

 .lateral-qrcode {
   width: 150px;
   margin: auto;
   display: block;
   margin-top: 40px;
 }


.corpo {
  background-color:  #fff; ;
}


.txt-nome-autor {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  margin-top: 70px;
  text-transform: uppercase;
}

.titulo-trabalho {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  margin-top: 20px;
  padding: 5%;
}


.txt-banca {
  text-align: left;
  font-size: 27px;
  font-weight: 400;
  margin-left: 10%;
}

.txt-banca-suplente {
  text-align: left;
  font-size: 17px;
  font-weight: 400;
  margin-left: 10%;
}

.txt-banca-titulo {
  font-size: 20px;
  font-weight: 800;
  margin-left: 10%;
}



.corpo-orientacao{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 170px;
  font-style: oblique;
}

.txt-programa-titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-top: 70px;
  text-transform: uppercase;
}



  #footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    background-color: #fff ;
    
  }
  
  .assinatura {
    display: inline-block;
    height: 65px;
    max-height: 65px;

  }
  
  
  #clock {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 28px;
    font-weight: 400;
    color: #142C68;
    text-align: right;
    display: inline;
   /*float: right;*/
   margin-right: 0px;
   
   /* margin-top: 1%;*/

  }


.info {
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}


  @media only screen and (max-width: 960px) {
    body {
      zoom: 0.5;
      -moz-transform: scale(0.5);
    }

  }

